body {
  background: #eaeaea;
  color: #999;
  font: 100%/1.5em sans-serif;
  margin: 0;
}

.login {
  margin: 50px auto;
  width: 300px;
}

.login--title {
  background-color: #282830;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 14px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}

.login--content {
  background: #fff;
  border-radius: 0 0 5px 5px;
  padding: 20px;
  position: relative;
}
.login--content:before {
  background-color: #fff;
  content: "";
  height: 8px;
  left: 50%;
  margin: -4px 0 0 -4px;
  position: absolute;
  top: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 8px;
}

.login--title {
  margin: 0;
}

.login--email {
  border-radius: 3px 3px 0 0;
}

.login--password {
  border-top: none;
  border-radius: 0px 0px 3px 3px;
}

.login--submit {
  background: #1dabb8;
  border-radius: 3px;
  color: #fff;
  float: right;
  font-weight: bold;
}
.login--submit:hover {
  background: #198d98;
}

.login--submit, .login--forgot-password {
  *zoom: 1;
  margin-top: 20px;
  padding: 12px 20px;
}
.login--submit:before, .login--forgot-password:before, .login--submit :after, .login--forgot-password :after {
  content: "";
  display: table;
}

.login--forgot-password {
  color: #999;
  text-decoration: none;
  font-size: 12px;
}
.login--forgot-password:hover {
  color: #1dabb8;
}
.login--forgot-password:before {
  content: "?";
  display: inline;
  background: #e5e5e5;
  border-radius: 50%;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  margin: 0 10px 0 0;
  text-align: center;
  width: 20px;
}
.login--forgot-password:after {
  clear: both;
}

.input-text, .button {
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-size: 14px;
  margin: 0;
  -webkit-appearance: none;
}

.input-text {
  border: 1px solid gainsboro;
  padding: 12px 10px;
  width: 100%;
  box-sizing: border-box;
}
.input-text:focus {
  outline: none;
}

.button {
  cursor: pointer;
}
